<div id="tag_cloud">
  <h2>Categories</h2>
  <% tag_cloud TodoPost.tagged_with(@subjects, :any => true, owned_by: @user).tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
