<footer class = "footer">
  <small>
    <a href="https://github.com/JunWei96/sample_app">TODO Manager App</a>
    by <a href="https://github.com/JunWei96">Jun Wei</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
